In [30]:
import sqlite3
from pprint import pprint

In [6]:
# susijungimas su duomenu baze

connector = sqlite3.connect('SQL/cars.db')
cursor = connector.cursor()
# duomenu iterpimas
query = '''
CREATE TABLE IF NOT EXISTS new_cars (
    make VARCHAR(30),
    model VARCHAR(30),
    color VARCHAR(30),
    year INTEGER,
    price INTEGER
);
'''
cursor.execute(query)
connector.commit()
connector.close()

In [24]:
query = '''
INSERT INTO new_cars 
(make, model, color, year, price)
VALUES
("Mercedes", "CLS", "Black","2020", "35000")
'''
# context manageris atidaro DB, atlieka reikiamus commit ir uzdaro
with connector:
    connector.cursor().execute(query)

In [14]:
# skaitom duomenu baze (po viena)
with connector:
    # kursoriu reikia pasiimti i kintamaji, nes jame nugula rezultato generatorius
    cursor = connector.cursor()
    cursor.execute("SELECT * FROM new_cars;")
    print(cursor.fetchone())

('BMW', '520', 'red', 2010, 15000)

In [20]:
# nuskaitom visus duomenis i sarasa su fetchall()
with connector:
    cursor = connector.cursor()
    cursor.execute("SELECT * FROM new_cars;")
    print(cursor.fetchall())

[('BMW', '520', 'red', 2010, 15000), ('BMW', '520', 'red', 2010, 15000)]

In [36]:
# taisom situacija:
with connector:
    cursor = connector.cursor()
    cursor.execute("DELETE FROM new_cars WHERE rowid>1")
    cursor.execute("SELECT * FROM new_cars;")
    pprint(cursor.fetchall())

[('BMW', '520', 'red', 2010, 15000)]

In [37]:
from pprint import pprint
with connector:
    cursor = connector.cursor()
    cursor.execute("SELECT * FROM new_cars;")
    pprint(cursor.fetchall())

[('BMW', '520', 'red', 2010, 15000)]

In [38]:
with connector:
    cursor = connector.cursor()
    cursor.execute("UPDATE new_cars SET price=40000 WHERE make='Mercedes' ")
    cursor.execute("SELECT * FROM new_cars;")
    pprint(cursor.fetchall())

[('BMW', '520', 'red', 2010, 15000)]

In [41]:
#pridedam iskart daug values

naujos_auto = [ 
    ("BMW", "Z5", "Red", "2015", 4100),
    ("Ford", "Galaxy", "Blue", "2021", 30000)
]

with connector:
    cursor = connector.cursor()
    cursor.executemany('INSERT INTO new_cars VALUES (?, ?, ?, ?, ?)', (naujos_auto))

In [ ]:
with connector:
    cursor = connector.cursor()
    cursor.execute('SELECT rowid, * FROM cars WHERE rowid BETWEEN 5 AND 15')
    cars = cursor.fetchall()
    for car in cars:
        print(f'- {car}')

In [44]:
ids = (1,3,5,7,9)

with connector:
    cursor = connector.cursor()
    cursor.execute('SELECT rowid, * FROM cars WHERE rowid IN (?,?,?,?,?)', ids)
    cars = cursor.fetchall()
    for car in cars:
        print(f'- {car}')

- (1, 'Saturn', 'VUE', 'Yellow', 2004, 22408)
- (3, 'Hyundai', 'XG350', 'Violet', 2004, 26829)
- (5, 'Ford', 'F250', 'Crimson', 1998, 1638)
- (7, 'Jeep', 'Patriot', 'Violet', 2012, 40333)
- (9, 'BMW', 'X6', 'Maroon', 2010, 95169)